* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-container {
  padding: 20px;
}

.poke-img {
  background-color: rgb(255, 255, 255, 0.5);
}